button{

    color:black;
    background-color:lightcoral;
    padding:10px 10px 10px 10px;
    border-radius: 10%;
    margin:3px 3px  3px 3px;
    font-size:large
}

.calculator{

background-color:plum;
border-radius: 5%;
justify-content: center;

}

.gridisplay{

display:grid;
grid-template-columns: repeat(3,90px);

gap: 2px;
padding:8px;
border: 0cap;
border-radius: 5%;

}

.gridisplay div{


    padding:100px 100px;
    justify-content: center;
}

body{
    height:100vh;
    display:flex;
    justify-content:center;
    align-items:center;
    background-color:lightpink
}

.input{


display:flex;
width: 250px;
height: 2.5vh;
padding:10px;
margin: 10px;
justify-self:center;
background-color:wheat;

font-size: large;
font-weight: 600;

}

.btn{

}